#survey .titlename {
    text-align: right;
}
#survey .title-layout{
    padding-bottom: 10px;
}

#survey a, a:link, a:visited, a:hover, a:active{
    font-size: medium;
}
#report-survey{

}
.center{
    text-align: center;
}
/*#report-survey th{*/
    /*text-align: center !important;*/
/*}*/